*
	margin: 0
	padding: 0

h1
	margin: 1rem none 1rem none
	text-align: center

.outer-flex-con
	display: flex
	flex-direction: row
	.sidebar
		min-width: 12vw
		min-height: 100vh
		border-right: 1px solid #4f4f4f
		display: flex
		flex-direction: column
		justify-content: flex-start
		h2
			align-self: flex-start
			margin-bottom: 1.2rem
	.mon-con
		min-width: 88vw
		.container
			display: flex
			flex-direction: row	
			justify-content: space-around
			canvas
					width: 38vw !important
					height: 40vh !important
			#usercount
				height: 60vh !important
	#usercount-h
		margin: auto
		width: 80vw !important
		height: 60vh !important
